<div class="row">
    <h1>Mujer</h1>
</div>
<hr>
<div class="card-columns">

    <!-- <app-card *ngfor="let p of persons; let i = index"></app-card> -->
    <div class="card" style="width: 18rem;" *ngFor="let item of persons">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>