<div class="container container-fluid">
    <hr/>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
        <div class="card">
            <div class="card card-header">
                <h5>Agregar un producto</h5>
            </div>
            <div class="card card-body">
                <form>
                    <div class="row form-group">
                            <label class="col-sm-col-form-label">Producto: </label>
                            <div>
                                <input type="text" class="form-control" id="producto" name="producto" />
                            </div>
                    </div>
                    <div class="row form-group">
                            <label class="col-sm-col-form-label">Departamento: </label>
                            <div>
                                <input type="text" class="form-control" id="producto" name="producto" />
                            </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-col-form-label">Sub Departamento: </label>
                        <div>
                            <input type="text" class="form-control" id="producto" name="producto" />
                        </div>
                    </div>        
                    <div class="row form-group">
                        <label class="col-sm-col-form-label">Descripción: </label>
                        <div>
                            <input type="text" class="form-control" id="producto" name="producto" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-col-form-label">Marca: </label>
                        <div>
                            <input type="text" class="form-control" id="producto" name="producto" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-col-form-label">Precio compra: </label>
                        <div>
                            <input type="text" class="form-control" id="producto" name="producto" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-col-form-label">Precio Venta: </label>
                        <div>
                            <input type="text" class="form-control" id="producto" name="producto" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-col-form-label">Impuesto: </label>
                        <div>
                            <input type="text" class="form-control" id="producto" name="producto" />
                        </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-col-form-label">Precio Neto: </label>
                    <div>
                        <input type="text" class="form-control" id="producto" name="producto" />
                    </div>
                 </div>
                 <div class="row form-group">
                    <label class="col-sm-col-form-label">Cantidad: </label>
                    <div>
                        <input type="number" class="form-control" id="producto" name="producto" />
                    </div>
                 </div>
                 <div class="row">
                    <button type="button" class="btn btn-outline-danger ">Cancelar</button>
                    <button type="button" class="btn btn-outline-primary ">Agregar</button>
                 </div>
                </form>
            </div>
        </div>
        
    </div>
    
</div>